annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
automat==25.4.16
cbor2==6.0.1
certifi==2026.4.22
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.7
colorama==0.4.6 ; sys_platform == 'win32'
constantly==23.10.4
cryptography==48.0.0
daphne==4.2.1
distro==1.9.0
django==6.0.4
django-cas-ng==5.1.1
django-dbconn-retry==0.3.1
django-dramatiq==0.15.0
django-redis==6.0.0
djangorestframework==3.17.1
dramatiq==2.1.0
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.13
incremental==24.11.0
jiter==0.14.0
lxml==6.1.0
msgpack==1.1.2
openai==2.34.0
otpauth==2.2.1
packaging==26.2
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0 ; implementation_name != 'PyPy'
pydantic==2.13.3
pydantic-core==2.46.3
pyopenssl==26.2.0
python-cas==1.7.2
python-dateutil==2.9.0.post0
qrcode==8.2
redis==7.4.0
requests==2.33.1
sentry-sdk==2.59.0
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
tqdm==4.67.3
twisted==25.5.0
txaio==25.12.2
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2 ; sys_platform == 'win32'
u-msgpack-python==2.8.0 ; platform_python_implementation != 'CPython'
ujson==5.12.0
urllib3==2.6.3
xlsxwriter==3.2.9
zope-interface==8.4
